.age-diagram {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.age-diagram__img {
    position: absolute;
    width: 53%;
    top: 4%;
    left: 14%;
}

.age-diagram__age {
    position: absolute;
    top: 42%;
    left: 36%;
}