.main-nav {
    display: flex;
    ;
    justify-content: flex-start;
    align-items: center;
    
}

.main-nav__logo-container {
    margin-right: 80px;
}

.main-nav__logo-img {
    &:hover {
        opacity: 0.4;
        & .main-nav__logo-graph {
            fill: var(--white);
        }
    }

    &:active {
        opacity: 0.8;
    }
}

.main-nav__link-list {
    min-width: 352px;
    min-height: 40px;
    display: flex;
    ;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.main-nav__link-list-item {
    flex-grow: 1;
}

.main-nav__link {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-secondary);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;

    &:hover {
        color: var(--red);
    }

    &:active {
        color: var(--white);
    }
}