.user-account {
    display: flex;
    ;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-secondary);
    min-width: 250px;
}

.user-account__sign-in {
    @include button-fix();
    color: inherit;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        color: var(--red);
    }

    &:active {
        color: var(--white);
    }
}

.user-account__sign-up {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    border: 1px solid var(--light-blue);
    border-radius: 68px;
    padding: 10px 50px;

    &:hover {
        color: var(--red);
        border-color: var(--red);
    }

    &:active {
        color: var(--white);
    }
}