:root {
  --white: #ffffff;
  --blue: #172755;
  --text-secondary: #8794BA;
  --red: #EF2A82;
  --chart-blue: #0088F0;
  --dark-blue: #0F1F4B;
  --dark-blue-alpha: rgba(15, 31, 75, 0.7);
  --light-blue: #465B95;
  --border-blue: #2A407C;
  --shadow: rgba(25, 42, 89, 0.2);
  --graph-lines: #EEEEF7;
}
