$min-bogy: 900px;

@mixin button-fix() {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@mixin input-cut() {
  position: absolute;
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 1px;
}

.hidden {
  display: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

// html {
//   overflow-x: hidden;
// }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

// .age-hexagon__hex-text {
//   display: grid;
//   grid-template-columns: 42px 42px 42px;
//   row-gap: 10px;
// }

// .age-hexagon__hex-age {
//   width: 30px;
// }

// .lines-graph__ages-container {
//   background-color: cadetblue;
//   display: flex;
//   ;
//   justify-content: space-between;
// }